@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Gluten&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Varela Round';
    color:#222;
    text-decoration: none;
}
header {
    position: fixed;
    top: 0px;
    width: 100%;
    background: linear-gradient(90deg, #060606 15%, #118 50%, #0df 100%);
    box-shadow: 0px 3px 3px #222;
    display: flex;
    align-items: center;
    padding: 20px;
}
header img {
    margin-left: 30px;
    animation: abc 4s linear infinite alternate;
}
@keyframes abc {
      0% {transform: scaleX(1);}
     80% {transform: scaleX(1);}
    100% {transform: scaleX(0);}
}
header h1 {
    font-family: 'Gluten', cursive;
    font-size: 25px;
    color: #eee;
    margin: 0 100px 0 20px;
    width: 160px;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 300px;
}
header nav a {
    color: #eee;
    font-weight: bold;
}
header h1:hover, header a:hover {
    color: #08f;
    transition: 0.3s;
}
main {
    height: 100vh;
}
main.inicio{
    background-image: url('../IMG/imagen.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    text-shadow: 0px 3px 3px #222;;
}
main.inicio div {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main.inicio h1 {
    color: #fff;
    font-size:50px;
}
main.inicio h3 {
    color: #fff;
    padding: 0;
}
main h3 {
    padding: 110px 150px 30px 150px;
}
main hr {
    margin: 0px 175px;
    height: 1px;
    border: none;
    background-color: #ddd;
}
main p {
    margin: 30px 200px;
}
main a {
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0px #888;
}
main a.verdadero {
    margin-left: 200px;
}
main a.falso {
    margin-left: 50px;
}
main a {
    background-color: #ddd;
    transition: 0.2s;
}
main a:hover {
    background-color: #003;
    color: #eee;
}
main a:active {
    transform: translateX(2px) translateY(2px);
    box-shadow: none;
}
main.seleccionV a.verdadero {
    background-color: #003;
    color: #eee;
    cursor: default;
}
main.seleccionV a.falso {
    background-color: #ddd;
    color: #222;
    cursor: default;
}
main.seleccionF a.verdadero {
    background-color: #ddd;
    color: #222;
    cursor: default;
}
main.seleccionF a.falso {
    background-color: #003;
    color: #eee;
    cursor: default;
}
main span {
    font-weight: bold;
    color: #f00;
}
main span#total {
    border: solid;
    border-radius: 25px;
    padding: 1px 8px;
}
main ol {
    margin: -20px 250px 30px 250px;
}
main a.siguiente {
    margin-left: 200px;
    background-color: #bdf;
    color: #00f;
}
main a.siguiente:hover {
    background-color: rgb(0,212,255);
    transition: 0.2s;
}
main a.siguiente:active {
    transform: translateX(2px) translateY(2px);
    box-shadow: none;
}
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 15px 0;
    display: flex;
    background-color: #060606;
}
footer p {
    color: #eee;
    margin: auto;
    width: 220px;
    text-align: center;
}
footer a {
    color: #eee;
    margin: auto 50px;
    width: 220px;
    text-align: right;
}
.fa{
    font-size: 30px;
    color: #eee;
}
@media only screen and (max-width: 600px) {
    header {
        padding: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
    header h1 {
        margin: 10px;
    }
    header nav ul {
        justify-content: space-evenly;
        font-size: 14px;
    }
    main h3 {
        padding: 100px 15px 0 15px;
    }
    main hr {
        display: none;
    }
    main p {
        margin: 20px 15px;
        font-size: 14px;
    }
    main a {
        padding: 8px 12px;
        font-size: 14px;
    }
    main a.verdadero {
        margin-left: 15px;
    }
    main a.falso {
        margin-left: 15px;
    }
    main ol {
        margin: -10px 45px 15px 45px;
        font-size: 14px;
    }
    main a.siguiente {
        margin-left: 15px;
    }
    footer p {
        width: auto;
        font-size: 14px;
    }
    footer a {
        width: auto;
        margin: auto 10px;
        text-align: left;
        font-size: 14px;
    }
    .fa{
        font-size: 25px;
    }
}